:root {
  --primary: hsl(217, 99%, 26%);
  --gray: hsl(217, 11%, 64%);
  --white: hsl(216, 100%, 95%);
  --highlight: rgba(251, 255, 38, 0.493);
}

body {
  font-family: 'Indie Flower', cursive;
  font-size: 1.2rem;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}
.body__container {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  grid-template-areas: 
  'header'
  'nav'
  '.img_card__container'
  'footer';

}
.header {
  background-color: var(--primary);
  color: var(--white);
  display: grid;
  padding: 10px 0;
  text-align: center;
  align-items: center;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.header__title {
  font-size: 3rem;
  margin: 0;
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  font-size: larger;
}

nav {
  margin: 20px 0 20px 20px;
}
.nav__container {
  box-shadow: var(--gray) 4px 4px 10px 2px;
  display: grid;
  row-gap: 24px;
  max-width: 200px;
  justify-items: center;
  padding: 12px 0 24px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.nav__link, .nav__link--active {
  text-decoration: none;
  color: var(--primary);
  position: relative;
}
.nav__link::after, .nav__link--active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  margin-left: -90px;
  border-bottom: var(--primary) 1px solid;
  width: 180px;
}
.nav__link--active {
  box-shadow: inset var(--highlight) 200px 0px 0px 1px;
  padding: 0 70px;
}

.img_card__container {
  display: grid;

  grid-auto-rows: start 1 / 2 end 3 / 4;
  grid-auto-columns: start 1 / 2 end 4 / 5;
}

.img_card_1, .img_card_2, .img_card_3, .img_card_4, .img_card_5 {
  width: 250px;
  box-shadow: var(--gray) 4px 4px 10px 2px;
  border-radius: 3px;
  margin: 20px;
  padding: 10px 10px 50px;
}

.img_card_6, .img_card_7,.img_card_8, .img_card_9 {
  width: 250px;
  box-shadow: var(--gray) 4px 4px 10px 2px;
  border-radius: 3px;
  margin: 20px;
  padding: 10px 10px 50px;
  grid-column: start 2 / 3 end 4 / 5;
  grid-row: 2 / 3;
}

.img_card__img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.img_card__text {
  padding: 0 12px;
}

.footer {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  font-size: medium;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .body__container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    grid-template-areas: 
    'header'
    'nav'
    '.img_card__container'
    'footer';
  }
  .header__title {
    font-size: 2rem;
  }
  .nav__container {
    width: 80vw;
    max-width: 900px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
  }
  .nav__link, .nav__link--active {
    text-decoration: underline;
  }
  .nav__link--active {
    padding: 0;
  }
  .nav__link::after, .nav__link--active::after {
    display: none;
  }
  .img_card__container {
    max-width: 900px;
  }
}